* {
    font-family: Arial, Helvetica, sans-serif;
}
/* Bagian main*/
main {
    display: flex;
}
/* style kontainer kiri */
.main-container{
    width: 55%;
    margin-right: 50px;
}

.main-tittle {
    text-align: center;
    margin: 10px;
}

form {
    background-color: aliceblue;
    height: 300px;
    padding: 10px;
}

/* style button */
button {
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 218);
    background-color:rgb(63, 63, 218) ;
    color: white;
    padding: 5px;
}

